@import '../../../styles.scss';
.up-act a {
    text-decoration: none !important;
    color: #FF8680 !important;
}

.st-act a {
    text-decoration: none !important;
    color: #6ab1e2 !important;
}

.no-act a {
    text-decoration: none !important;
    color: #FFFFFF !important;
}

table.ui-table-scrollable-body-table {
    font-size: 12px !important;
    line-height: 18px !important;
    margin: 0 !important;
    width: 100% !important;
    border-collapse: collapse !important;
    border-top: 1px solid #3c3c3c !important;
}

.up-link {
    text-decoration: none;
    color: #FF8680;
}

.st-link {
    text-decoration: none;
    color: $geo-teal;
}

::ng-deep .chartUP canvas {
    background-color: #4B565F !important;
}

.up-button,
.up-button:hover,
.up-button:focus {
    background-color: #FF8680 !important;
    min-width: 0 !important;
    border: #FF8680 !important;
}

::ng-deep .opacity {
    left: 7%;
    width: 70%;
}

::ng-deep .suitability .nav-item {
    border-right: black 0.5px solid;
    border-left: black 0.5px solid;
}

::ng-deep .urbanperformance .nav-item {
    border-right: black 0.5px solid;
    border-left: black 0.5px solid;
    border-top: black 0.5px solid;
}


/* Chrome, Safari, Edge, Opera */

::ng-deep .ui-dialog input::-webkit-outer-spin-button,
::ng-deep .ui-dialog input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

::ng-deep .ui-dialog.pluginGP .ui-dialog-content:has(.suitability) {
    padding: 0;
}

::ng-deep .ui-dialog.pluginGP .ui-dialog-titlebar {
    text-align: center;
}

::ng-deep .toolbarbtn.ui-button:hover {
    background-color: #323232 !important;
}

::ng-deep .suitability .fa-2x {
    font-size: 1.5em !important;
}

::ng-deep .ui-dialog.manageDataModule {
    right: 5em !important;
    left: auto !important;
    top: 17em !important;
}

::ng-deep .ui-dialog.pluginGP {
    right: 5em !important;
    left: 0 !important;
    top: 4.1em !important;
}

.st-button,
.st-button:hover,
.st-button:focus {
    background-color: $geo-teal !important;
    border: $geo-teal !important;
    min-width: 0 !important;
}

.gp_modal .tab-content .results-table {
    background-color: #4A555F;
}

.results-table .positive-result {
    background-color: $geo-teal;
}

.scenario-base {
    color: #FF8680;
}

.scenario-active {
    color: #f5ad3c;
}

.scenario-inactive {
    color: #63737E;
}

.gp_modal .close {
    color: #667989;
    opacity: 1;
    text-shadow: 0;
}

.modal-backdrop {
    opacity: 0 !important;
}

.gp_modal {
    background: #4b565f;
    color: #FEFEFE;
    height: 100%;
    font-family: $main-font;
}

#up_settings .gp_modal {
    background: #273038;
}

.gp_modal .badge-dark {
    background: #273038;
}

#up_settings .gp_modal .badge-dark {
    background: #4b565f;
    color: #5A6C79;
}

::ng-deep .gp_modal hr.gp_orange {
    border-color: #FF8680 !important;
    width: 98% !important;
    margin-left: 1% !important;
    margin-right: 1% !important;
}

::ng-deep .gp_modal hr.gp_teal {
    border-color: $geo-teal !important;
    width: 8%;
    margin-left: 1%;
}

::ng-deep .gp_modal hr.gp_orange_large {
    border-color: #FF8680 !important;
    margin-left: 1%;
    margin-right: 1%;
}

::ng-deep .gp_modal.urbanperformance .nav-item .nav-link {
    background: #4b565f !important;
    color: #FF8680 !important;
}

::ng-deep #suitability.gp_modal .nav-item .nav-link,
::ng-deep .suitability.gp_modal .nav-item .nav-link {
    background: #4b565f !important;
    color: #6ab1e2 !important;
}

::ng-deep .urbanperformance.gp_modal .nav-item .active,
::ng-deep .urbanperformance .tab-content .active {
    background: #4B565F !important;
    color: #FF8680 !important;
}

::ng-deep #suitability.gp_modal .nav-item .active,
::ng-deep #suitability .tab-content .active,
::ng-deep .suitability.gp_modal .nav-item .active,
::ng-deep .suitability .tab-content .active {
    background: #4B565F !important;
    color: #6ab1e2 !important;
}

::ng-deep #suitability.gp_modal .nav-item i,
::ng-deep .suitability.gp_modal .nav-item i,
::ng-deep #suitability .tab-content i,
::ng-deep .suitability .tab-content i {
    opacity: 0.6 !important;
}

::ng-deep #suitability.gp_modal .nav-item .active i,
::ng-deep .suitability.gp_modal .nav-item .active i,
::ng-deep #suitability .tab-content .active i,
::ng-deep .suitability .tab-content .active i {
    opacity: 1 !important;
}

.table-title {
    color: #F5F5F6 !important;
}

.sdg-title {
    color: #F5F5F6 !important;
    font-weight: bold !important;
    font-size: larger !important;
}

.results-text {
    color: #8E979F !important;
}

.highlight-results {
    color: #FF8680 !important;
}

::ng-deep .tab-content .results-title {
    color: #C0C4C6 !important;
}

.measure {
    color: #6D7984;
}

::ng-deep #suitability .ui-slider .ui-slider-handle {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

::ng-deep #suitability .ui-slider:not(.ui-state-disabled) .ui-slider-handle:hover,
#suitability .custom-control-input:checked~.custom-control-label::before {
    background-color: #6ab1e2 !important;
    border-color: #6ab1e2 !important;
}

::ng-deep #suitability .ui-slider .ui-slider-range {
    background-color: #6ab1e2 !important;
}

::ng-deep .ui-sidebar-right {
    top: 48px !important;
}

::ng-deep .ui-widget,
::ng-deep .ui-inputtext {
    font-family: $main-font !important;
    font-size: 12px !important;
}

::ng-deep .btn.disabled,
::ng-deep .btn:disabled,
::ng-deep .ui-state-disabled,
::ng-deep .ui-state-disabled:disabled,
::ng-deep .ui-button:disabled {
    opacity: 0.15 !important;
}

::ng-deep .ui-dialog-content,
::ng-deep .ui-dialog-titlebar,
::ng-deep .ui-dialog-footer {
    background-color: $black !important;
}

.suitability .selected-layers {
    background-color: #323232;
    border: 1px solid #191919;
}

.moveable {
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.moveable:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

small {
    font-size: 60%;
}

body .booleanCheckbox.ui-chkbox {
    width: auto;
}

body .booleanCheckbox .ui-chkbox-box {
    display: inline-block;
    vertical-align: middle;
    margin-right: 4px;
}

body .booleanCheckbox .ui-chkbox-label {
    vertical-align: middle;
    margin-top: 0;
}

::ng-deep .ui-fieldset-legend {
    width: 38%;
    font-size: 1em;
}

::ng-deep .urbanperformance .ui-fieldset-legend a:hover,
::ng-deep .urbanperformance .ui-table .ui-sortable-column.ui-state-highlight,
::ng-deep .urbanperformance .ui-table .ui-table-tbody>tr.ui-state-highlight,
::ng-deep .urbanperformance .ui-paginator-page.ui-state-active,
::ng-deep .urbanperformance .ui-progressbar .ui-progressbar-value {
    background-color: #FF8680 !important;
}

::ng-deep .suitability .ui-fieldset-legend a:hover,
::ng-deep .suitability .ui-table .ui-sortable-column.ui-state-highlight,
::ng-deep .suitability .ui-table .ui-table-tbody>tr.ui-state-highlight,
::ng-deep .suitability .ui-paginator-page.ui-state-active,
::ng-deep .suitability .ui-progressbar .ui-progressbar-value {
    background-color: $geo-teal !important;
}

::ng-deep .suitability .ui-table.settingsTable tr.ui-state-highlight {
    background-color: #323232 !important;
}

::ng-deep .ui-fieldset-legend a,
::ng-deep .ui-fieldset-legend .ui-fieldset-toggler {
    color: #FFFFFF !important;
}

::ng-deep .ui-fieldset-legend a:hover,
::ng-deep .ui-fieldset-legend .ui-fieldset-toggler:hover,
::ng-deep .ui-fieldset-legend a:enabled,
::ng-deep .ui-fieldset-legend .ui-fieldset-toggler:a {
    color: #FFFFFF !important;
}

::ng-deep .ui-fieldset {
    background-color: transparent !important;
    border: 1px solid #6ab1e2 !important;
}

::ng-deep .urbanperformance .ui-button,
.urbanperformance.calculate,
::ng-deep .urbanperformance .ui-chkbox-box.ui-state-active {
    background-color: #FF8680 !important;
    border-color: #FF8680 !important;
}

::ng-deep .suitability .ui-button,
::ng-deep .suitability .ui-chkbox-box.ui-state-active {
    background-color: $geo-teal !important;
    border-color: $geo-teal !important;
}

::ng-deep .suitability .ui-button.uh-delete-btn,
::ng-deep .suitability .ui-button:enabled:focus {
    background-color: #B71C2A !important;
    border-color: #B71C2A !important;
}

::ng-deep .suitability .ui-button.uh-save-btn,
::ng-deep .suitability .ui-button:enabled:focus,
::ng-deep .suitability .ui-button.uh-save-btn:hover,
::ng-deep .suitability .ui-button.uh-save-btn:focus {
    background-color: #f5ad3c!important;
    border: 1px solid #f5ad3c!important;
    color: #ffffff!important;
}

::ng-deep .urbanperformance .ui-inputtext:hover,
::ng-deep .urbanperformance .ui-inputtext:focus,
::ng-deep .urbanperformance .ui-multiselect:hover,
::ng-deep .urbanperformance .ui-multiselect:focus,
::ng-deep .urbanperformance .ui-multiselect:active,
::ng-deep .urbanperformance .ui-multiselect.ui-state-focus,
::ng-deep .urbanperformance .ui-dropdown:hover,
::ng-deep .urbanperformance .ui-dropdown:focus,
::ng-deep .urbanperformance .ui-dropdown:active,
::ng-deep .urbanperformance .ui-dropdown.ui-state-focus,
::ng-deep .urbanperformance .ui-chkbox-box:hover,
::ng-deep .urbanperformance .ui-chkbox-box:focus,
::ng-deep .urbanperformance .ui-chkbox-box:active {
    border-color: #FF8680 !important;
}

::ng-deep .urbanperformance .ui-inputgroup .ui-multiselect {
    display: inline-flex !important;
}

::ng-deep .urbanperformance .ui-multiselect-item.ui-state-highlight,
::ng-deep .urbanperformance .ui-dropdown-item.ui-state-highlight,
::ng-deep .urbanperformance .ui-treenode-label.ui-state-highlight {
    background-color: #FF8680 !important;
}

::ng-deep .suitability .ui-multiselect-item.ui-state-highlight,
::ng-deep .suitability .ui-dropdown-item.ui-state-highlight,
::ng-deep .suitability .ui-treenode-label.ui-state-highlight {
    background-color: $geo-teal !important;
}

::ng-deep .geoportal-dialog .ui-multiselect-item.ui-state-highlight,
::ng-deep .geoportal-dialog .ui-dropdown-item.ui-state-highlight,
::ng-deep .geoportal-dialog .ui-treenode-label.ui-state-highlight {
    background-color: #7e9baf !important;
}

::ng-deep .geoportal-dialog .ui-button,
::ng-deep .geoportal-dialog .ui-chkbox-box.ui-state-active {
    background-color: #7e9baf !important;
    border-color: #7e9baf !important;
}

::ng-deep .suitability .ui-button,
::ng-deep .suitability .ui-chkbox-box.ui-state-active {
    background-color: $geo-teal !important;
    border-color: $geo-teal !important;
}

::ng-deep .suitability .ui-inputswitch-checked .ui-inputswitch-slider {
    background-color: $geo-teal !important;
}

::ng-deep .suitability .ui-inputtext:hover,
::ng-deep .suitability .ui-inputtext:focus,
::ng-deep .suitability .ui-multiselect:hover,
::ng-deep .suitability .ui-multiselect:focus,
::ng-deep .suitability .ui-multiselect:active,
::ng-deep .suitability .ui-multiselect.ui-state-focus,
::ng-deep .suitability .ui-dropdown:hover,
::ng-deep .suitability .ui-dropdown:focus,
::ng-deep .suitability .ui-dropdown:active,
::ng-deep .suitability .ui-dropdown.ui-state-focus,
::ng-deep .suitability .ui-chkbox-box:hover,
::ng-deep .suitability .ui-chkbox-box:focus,
::ng-deep .suitability .ui-chkbox-box:active {
    border-color: $geo-teal !important;
}

::ng-deep .suitability .ui-chkbox-box.ui-state-focus,
::ng-deep .suitability .ui-button:enabled:focus {
    box-shadow: 0 0 0 0.2em $geo-teal !important;
}

::ng-deep .urbanperformance .ui-chkbox-box.ui-state-focus,
::ng-deep .urbanperformance .ui-button:enabled:focus:not(.advanced-geoportal .ui-button) {
    box-shadow: 0 0 0 0.2em #FF8680 !important;
}

::ng-deep .suitability .ui-dropdown-filter-icon,
::ng-deep .suitability .ui-multiselect-filter-icon,
::ng-deep .suitability .ui-tree .ui-tree-filter-container .ui-tree-filter-icon {
    color: $geo-teal !important;
}

::ng-deep .geoportal-dialog .ui-dropdown-filter-icon,
::ng-deep .geoportal-dialog .ui-multiselect-filter-icon,
::ng-deep .geoportal-dialog .ui-tree .ui-tree-filter-container .ui-tree-filter-icon {
    color: #7e9baf !important
}

::ng-deep .geoportal-dialog .ui-inputtext:hover,
::ng-deep .geoportal-dialog .ui-inputtext:focus,
::ng-deep .geoportal-dialog .ui-multiselect:hover,
::ng-deep .geoportal-dialog .ui-multiselect:focus,
::ng-deep .geoportal-dialog .ui-multiselect:active,
::ng-deep .geoportal-dialog .ui-multiselect.ui-state-focus,
::ng-deep .geoportal-dialog .ui-dropdown:hover,
::ng-deep .geoportal-dialog .ui-dropdown:focus,
::ng-deep .geoportal-dialog .ui-dropdown:active,
::ng-deep .geoportal-dialog .ui-dropdown.ui-state-focus,
::ng-deep .geoportal-dialog .ui-chkbox-box:hover,
::ng-deep .geoportal-dialog .ui-chkbox-box:focus,
::ng-deep .geoportal-dialog .ui-chkbox-box:active {
    border-color: #7e9baf !important;
}

::ng-deep .geoportal-dialog .ui-button,
::ng-deep .geoportal-dialog .ui-button:hover,
::ng-deep .geoportal-dialog .ui-button:focus {
    background-color: #7e9baf !important;
    min-width: 0 !important;
    border: #7e9baf !important;
}

::ng-deep .geoportal-dialog .ui-button:enabled:focus {
    box-shadow: 0 0 0 0.2em #7e9baf !important;
}

::ng-deep .geoportal-btn.suitability:not(.calculateUP) .ui-button-icon-left,
::ng-deep .geoportal-btn.urbanperformance:not(.calculateUP) .ui-button-icon-left,
::ng-deep .geoportal-btn.tools-geoportal:not(.geoportal-title-btn) .ui-button-icon-left,
::ng-deep .ui-sidebar .ui-button-warning .ui-button-icon-left {
    font-size: 2em !important;
}

::ng-deep .geoportal-btn.tools-geoportal .ui-button:enabled:focus,
::ng-deep .geoportal-btn.advanced-geoportal .ui-button:enabled:focus {
    box-shadow: 0 0 0 0.2em #2e2f2f !important;
}

::ng-deep .geoportal-btn.urbanperformance,
::ng-deep .geoportal-btn.urbanperformance:hover,
::ng-deep .geoportal-btn.urbanperformance:focus {
    background-color: #FF8680 !important;
    min-width: 0 !important;
    border: #FF8680 !important;
}

::ng-deep .geoportal-btn.suitability,
::ng-deep .geoportal-btn.suitability:hover,
::ng-deep .geoportal-btn.suitability:focus {
    background-color: $geo-teal !important;
    border: $geo-teal !important;
    min-width: 0 !important;
}

::ng-deep .geoportal-btn.advanced-geoportal .ui-button,
::ng-deep .geoportal-btn.advanced-geoportal .ui-button:hover,
::ng-deep .geoportal-btn.advanced-geoportal .ui-button:focus {
    background-color: #2e2f2f !important;
    border: #2e2f2f !important;
}

::ng-deep .geoportal-btn.tools-geoportal .ui-button,
::ng-deep .geoportal-btn.tools-geoportal.ui-button {
    background-color: #d9d9d9!important;
    border: 1px solid #d9d9d9!important;
    color: #196480!important;
}

::ng-deep .geoportal-btn.tools-geoportal .ui-button:hover,
::ng-deep .geoportal-btn.tools-geoportal .ui-button:focus,
::ng-deep .geoportal-btn.tools-geoportal.ui-button:hover,
::ng-deep .geoportal-btn.tools-geoportal.ui-button:focus {
    background-color: #f5ad3c!important;
    border: 1px solid #f5ad3c!important;
    color: #ffffff!important;
}

::ng-deep .toolbarbtn.ui-button {
    background-color: #323232 !important;
    color: #FFFFFF !important;
    border: none !important;
}


/* ::ng-deep .calculateUP .ui-button-icon-left {
    left: 12.5em !important;
}*/

.up-icon {
    height: 2.1em;
    width: auto;
    fill: #FF8680;
}

::ng-deep .urbanperformance .ui-dropdown-filter-icon,
::ng-deep .urbanperformance .ui-multiselect-filter-icon,
::ng-deep .urbanperformance .ui-tree .ui-tree-filter-container .ui-tree-filter-icon {
    color: #FF8680 !important;
}

::ng-deep #suitability .ui-spinner-button {
    background-color: $geo-teal !important;
    border-color: $geo-teal !important;
}

::ng-deep .ui-accordion.suitability .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
    background-color: #191919 !important;
    border: 1px solid #191919 !important;
}

::ng-deep .ui-accordion.suitability .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover a,
::ng-deep .ui-accordion.suitability .ui-accordion-header.ui-state-active:not(.ui-state-disabled):hover a,
::ng-deep .ui-accordion .ui-accordion-header a,
::ng-deep .ui-accordion.suitability .ui-accordion-header a .ui-accordion-toggle-icon,
::ng-deep .ui-accordion.suitability .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover a .ui-accordion-toggle-icon {
    color: #ffffff !important;
}

::ng-deep .ui-accordion.suitability .ui-accordion-header {
    text-align: center !important;
}

::ng-deep .ui-dropdown,
::ng-deep .ui-multiselect {
    background-color: #343e46 !important;
    border-color: #343e46 !important;
}

::ng-deep .ui-dropdown-trigger,
::ng-deep .ui-inputtext,
::ng-deep .ui-multiselect-trigger,
::ng-deep .ui-chkbox-box.ui-state-default {
    background-color: #343e46 !important;
    border-color: #343e46 !important;
}

::ng-deep .ui-slider:not(.ui-slider-range) {
    background-color: #343e46 !important;
}

::ng-deep .ui-placeholder,
::ng-deep .ui-multiselect:not(.ui-multiselect-open) {
    font-style: italic !important;
}

::ng-deep .suitability .ui-table-wrapper .ui-spinner {
    width: inherit !important;
}

::ng-deep .suitability .ui-table-wrapper .ui-spinner-input {
    width: inherit !important;
}

::ng-deep .suitability .ui-table-wrapper .ui-dropdown {
    min-width: inherit !important;
}

::ng-deep .ui-table-scrollable-view {
    overflow: auto !important;
}

::ng-deep .ui-table-scrollable-header,
::ng-deep .ui-table-scrollable-body {
    overflow: unset !important;
}

::ng-deep .gp-console.ui-dialog>* {
    background-color: black !important;
    color: white !important;
    font-size: 12px !important;
    border: none !important;
}

::ng-deep .colorScaleST.ui-dialog>* {
    background-color: #323232 !important;
    color: #fff !important;
}

::ng-deep .colorScaleST.ui-dialog {
    right: 6em !important;
    bottom: 1em !important;
    left: auto !important;
    top: auto !important;
}

::ng-deep .suitability .ui-dialog-titlebar.ui-widget-header {
    border: 1px solid #196480 !important;
    background-color: #196480 !important;
}

::ng-deep #analysis.suitability.geoportal-btn.ui-button {
    border: 1px solid #196480 !important;
    background-color: #196480 !important;
}

::ng-deep #analysis.suitability.geoportal-btn.ui-button:hover,
::ng-deep #analysis.suitability.geoportal-btn.ui-button:focus,
::ng-deep #analysis.suitability.geoportal-btn.ui-button:active {
    border: 1px solid #196480 !important;
    background-color: #196480 !important;
}

::ng-deep svg:hover .cls-1 {
    fill: #f5ad3c !important;
}

::ng-deep svg:hover .cls-2 {
    fill: #ffffff !important;
}

::ng-deep svg {
    max-width: 2.5em;
}