<p-toast key="login" [baseZIndex]="1500"></p-toast>
<mdb-navbar [containerInside]="false" SideClass="custom-no-class">
    <nav class="navbar navbar-expand-lg navbar-light change-index stnavbar">
        <div class="container-fluid resize-text">
            <div class="navbar-brand">
                <!--<img *ngIf="!suitabilityActive && !urbPerActive; else gpWhite" style="height: 2em;" src="{{oskariUrl}}/PLID/assets/img/GeoPortal.png" class="ml-2 img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}"
                        alt="Geoportal logo">
                    <ng-template #gpWhite>
                        <img style="height: 2em;" src="{{oskariUrl}}/PLID/assets/img/GeoPortal blanco.png" class="ml-2 img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="Geoportal logo white">
                    </ng-template>-->
                <img style="height: 2em;" *ngIf="suitabilityActive && !urbPerActive" src="{{oskariUrl}}/PLID/assets/img/logo UH - horizontal.png" class="ml-5 pl-2 img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="UrbanHotspots logo">
                <!--<img style="height: 2em;" *ngIf="urbPerActive && !suitabilityActive" src="{{oskariUrl}}/PLID/assets/img/UP blanco.png" class="ml-5 pl-2img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="UrbanPerformance logo">-->
            </div>
            <div class="ml-auto" *ngIf="uptWindow.__session_active;">
                <!--<p-button styleClass="suitability geoportal-btn" label="Start Analysing" (onClick)="stStatus();"></p-button>-->
                <button pButton id="analysis" class="suitability geoportal-btn" type="button" label="Start Analysing" (click)="stStatus();"></button>
            </div>
            <!--<ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown" dropdown>-->
            <!--<a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light">Tools<span
                    class="caret"></span></a>-->
            <!--<ng-template #loggedOut>
                            <p-button pButton class="suitability geoportal-btn" label="Start Analysing" (onClick)="promptLogin();" *ngIf="uptWindow.__session_active; else loggedOut"></p-button>
                        </ng-template>-->
            <!--<li class="list-inline-item" (click)="stStatus();">
                        <img style="height: 1.8em" src="{{oskariUrl}}/PLID/assets/img/UH_icon_logo.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="UrbanHotspots">
                    </li>
                    <div class="dropdown-menu" role="menu" style="left: -32px;">
                        <ul class="list-inline p-1" *ngIf="uptWindow.__session_active; else loggedOut">
                            <li class="list-inline-item" (click)="stStatus();">
                                <img style="height: 1.8em" src="{{oskariUrl}}/PLID/assets/img/UH_icon_logo.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="UrbanHotspots">
                            </li>
                            <li class="list-inline-item" (click)="upStatus();">
                                <img style="height: 1.8em" src="{{oskariUrl}}/PLID/assets/img/up-small.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="UrbanPerformance">
                            </li>
                            <li class="list-inline-item" (click)="closePlugin();">
                                <img style="height: 1.8em" src="{{oskariUrl}}/PLID/assets/img/tache_Mesa de trabajo 1 copia 19.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="Close">
                            </li>
                        </ul>
                        <ng-template #loggedOut>
                            <ul class="list-inline p-1">
                                <li class="list-inline-item" (click)="promptLogin()">
                                    <img style="height: 1.8em" src="{{oskariUrl}}/PLID/assets/img/UH_icon_logo.png" class="disabled img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="Suitability">
                                </li>
                                <li class="list-inline-item" (click)="promptLogin()">
                                    <img style="height: 1.8em" src="{{oskariUrl}}/PLID/assets/img/up-small.png" class="disabled img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="UrbanPerformance">
                                </li>
                                <li class="list-inline-item">
                                    <img style="height: 1.8em" src="{{oskariUrl}}/PLID/assets/img/tache_Mesa de trabajo 1 copia 19.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="Close">
                                </li>
                            </ul>
                        </ng-template>
                    </div>
            </li>
            </ul>-->
        </div>
    </nav>
</mdb-navbar>
<app-tools-sidebar #tools [uptWindow]="uptWindow"></app-tools-sidebar>