<!--PrimeNG dialog which contains the main UP tool.-->
<p-dialog [focusOnShow]="false" [baseZIndex]="1150" [positionTop]="0" header="UrbanPerformance" [(visible)]="displayUP" [contentStyle]="{'max-height':'80vh'}" [style]="{'width':'60em'}">
    <div class="gp_modal container-fluid mb-2 py-2 urbanperformance" id="urbanperformance">
        <p-fieldset [collapsed]="createScenarioCollapsed" [toggleable]="true">
            <p-header>CREATE SCENARIO
                <mdb-icon fas icon="check-circle" *ngIf="createScenarioDone"></mdb-icon>
            </p-header>
            <div class="ui-g ui-fluid">
                <div class="ui-md-11">
                    <div class="ui-fluid ui-g">
                        <div class="ui-md-6 ui-g-12">
                            <div class="ui-float-label">
                                <input id="scenarioName" maxlength="60" [(ngModel)]="scenarioName" pInputText type="text">
                                <label for="scenarioName">Name</label>
                            </div>
                        </div>
                        <div class="ui-md-6 pt-2">
                            <p-checkbox styleClass="urbanperformance" [(ngModel)]="isBaseUP" binary="true" label="Is baseline?">
                            </p-checkbox>
                        </div>
                    </div>
                    <div class="ui-g ui-fluid">
                        <div class="ui-md-6">
                            <p-dropdown placeholder="Select a study area" optionLabel="name" [baseZIndex]="2500" appendTo="body" [options]="studyArea" [(ngModel)]="selectedStudyAreaUP" [filter]="true" styleClass="urbanperformance" panelStyleClass="urbanperformance">
                            </p-dropdown>
                        </div>
                        <div class="ui-inputgroup ui-md-6">
                            <span class="ui-inputgroup-addon"><i class="fa fa-layer-group"></i></span>
                            <p-multiSelect (onChange)="changeIndicator($event)" [filter]="true" defaultLabel="Select indicators" panelStyleClass="urbanperformance" styleClass="urbanperformance" [maxSelectedLabels]="4" [baseZIndex]="2500" appendTo="body" [options]="indSelectItems"
                                [(ngModel)]="selectedIndicators">
                                <ng-template let-value pTemplate="item">
                                    <div pTooltip="{{value.value.dependencies | dependencies:indSelectItems}}" [tooltipZIndex]="5000" style="width: 100%; display:inline-block;vertical-align:middle;">{{value.label}}</div>
                                </ng-template>
                            </p-multiSelect>
                        </div>
                    </div>
                    <div class="ui-g ui-fluid">
                        <div class="ui-md-3">
                            <p-button (onClick)="createScenario()" label="CREATE" styleClass="ui-button-raised">
                            </p-button>
                        </div>
                    </div>
                </div>
            </div>
        </p-fieldset>
        <br>
        <p-fieldset [collapsed]="manageDataCollapsed" [toggleable]="true">
            <p-header>MANAGE DATA
                <mdb-icon fas icon="check-circle" *ngIf="manageDataDone"></mdb-icon>
            </p-header>
            <div class="ui-g ui-fluid">
                <p-dropdown [filter]="true" panelStyleClass="urbanperformance" styleClass="urbanperformance" #scenUP [baseZIndex]="2500" appendTo="body" [options]="scenarios" [(ngModel)]="scenarioManage" optionLabel="name" placeholder="Select a scenario" (onHide)="loadUPLayers()"
                    [style]="{'width':'18em'}">
                </p-dropdown>
            </div>
            <div class="ui-g ui-fluid">
                <p-tree [filter]="true" [value]="layersUP" (onNodeSelect)="loadUPColumns($event)" selectionMode="single" [(selection)]="selectedLayerUP" [style]="{'max-height':'200px','overflow':'auto'}">
                    <ng-template let-node pTemplate="layer">
                        <span>
                        {{node.label}}
                    </span>
                    </ng-template>
                </p-tree>
            </div>
        </p-fieldset>
        <br>
        <p-fieldset [collapsed]="scenariosCollapsed" [toggleable]="true">
            <p-header>SCENARIOS
                <mdb-icon fas icon="check-circle" *ngIf="scenariosDone"></mdb-icon>
            </p-header>
            <div class="ui-g ui-fluid">
                <div class="ui-md-12">
                    <p-multiSelect (onPanelHide)="getUPResults()" [filter]="true" panelStyleClass="urbanperformance" styleClass="urbanperformance" #scenUPMulti [baseZIndex]="2500" appendTo="body" [options]="scenarios" [(ngModel)]="selectedScenarios" optionLabel="name" defaultLabel="Select up to 4 Scenarios"
                        [maxSelectedLabels]="4" [selectionLimit]="4"></p-multiSelect>
                </div>
            </div>
            <div class="ui-g ui-fluid">
                <div class="ui-md-12">
                    <p-button icon="fas fa-calculator" label="CALCULATE" (onClick)="calculateScenarios()" styleClass="ui-button-raised geoportal-btn calculateUP"></p-button>
                </div>
            </div>
        </p-fieldset>
        <br>
        <p-fieldset [collapsed]="resultsCollapsed" [toggleable]="true">
            <p-header>RESULTS
                <mdb-icon fas icon="check-circle" *ngIf="resultsDone"></mdb-icon>
            </p-header>
            <ngb-tabset type="pills" justify="justified">
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <mdb-icon size="2x" fas icon="table"></mdb-icon>
                    </ng-template>
                    <ng-template ngbTabContent *ngIf="scenarioResults">
                        <div class="ui-g ui-fluid">
                            <div class="ui-g-12">
                                <table mdbTable striped="true">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th class="text-center align-middle" *ngFor="let rslt of scenarioResults; let i = index"><span [ngStyle]="{color: dataColorsUP[i]}">{{rslt.name}}</span></th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-title results-table">
                                        <ng-container *ngFor="let label of rsltLabels; let i = index">
                                            <tr *ngIf="label.units != '%' && label.units">
                                                <th class="text-left">
                                                    <div>
                                                        <span>{{label.label}}</span>
                                                    </div>
                                                    <div class="measure">
                                                        <p>{{label.units}}</p>
                                                    </div>
                                                </th>
                                                <ng-container *ngFor="let value of label.value[0]">
                                                    <td class="text-center align-middle">
                                                        {{value}}
                                                    </td>
                                                </ng-container>
                                            </tr>
                                        </ng-container>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>
                        <svg class="up-icon" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 283.46 261.84">
          <path data-name="Trazado 431"
            d="M183.35 190.19h20.26c3.69-.38 6.58-4.12 6.74-8.72V89.89c-.16-4.61-3-8.34-6.74-8.73h-20.26c-3.7.39-6.58 4.12-6.75 8.73v91.58c.17 4.6 3.05 8.34 6.75 8.72zm50.58 0h20.27c3.69-.38 6.58-4.12 6.74-8.72V24.37c-.16-4.6-3.05-8.34-6.74-8.72h-20.27c-3.69.38-6.58 4.12-6.74 8.72v157.1c.16 4.6 3.05 8.34 6.74 8.72zm-151.78 0h20.27c3.69-.38 6.58-4.12 6.74-8.72v-48c-.16-4.6-3-8.34-6.74-8.73H82.15c-3.69.39-6.58 4.13-6.74 8.73v48c.17 4.6 3 8.34 6.75 8.72zm50.6 0H153c3.7-.38 6.58-4.12 6.74-8.72V46.19c-.16-4.6-3-8.34-6.74-8.72h-20.25c-3.69.38-6.58 4.12-6.74 8.72v135.28c.16 4.61 3 8.34 6.75 8.72zm136.59 26H41.68V23.42a8.6 8.6 0 00-8.44-8.77H16.38A8.59 8.59 0 008 23.42v210.34a17.21 17.21 0 0016.86 17.55h244.48a8.61 8.61 0 008.44-8.78V225a8.62 8.62 0 00-8.43-8.78z"
            fill="#FF8680" /></svg>
                    </ng-template>
                    <ng-template ngbTabContent *ngIf="resultDataUP">
                        <div class="ui-g ui-fluid">
                            <div class="ui-g-12">
                                <p-chart type="radar" [data]="resultDataUP" [options]="resultOptionsUP"></p-chart>
                            </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <<ngb-tab>
                    <ng-template ngbTabTitle>
                        <mdb-icon size="2x" fas icon="leaf"></mdb-icon>
                    </ng-template>
                    <ng-template ngbTabContent *ngIf="resultDataUP">
                        <div class="ui-g ui-fluid" *ngFor="let goal of goalsArray; let ind = index">
                            <div class="ui-g-12 sdg-title">
                                <b>{{goal.name}}</b>
                            </div>
                            <div class="ui-g-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th></th>
                                            <th *ngFor="let rslt of scenarioResults; let i = index" class="text-center align-middle"><span [ngStyle]="{color: dataColorsUP[i]}">{{rslt.name}}</span></th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-title results-table">
                                        <ng-container *ngFor="let g of goal.goal; let i = index">
                                            <tr>
                                                <th class="text-left">
                                                    <div>
                                                        <span>{{g.indicator}}</span>
                                                    </div>
                                                    <div class="measure">
                                                        <p>{{g.units}}</p>
                                                    </div>
                                                </th>
                                                <ng-container *ngFor="let value of g.value; let in = index;">
                                                    <td class="text-center align-middle">
                                                        {{value}}
                                                    </td>
                                                </ng-container>
                                            </tr>
                                        </ng-container>

                                    </tbody>
                                </table>
                            </div>
                            <hr class="gp_orange">
                        </div>
                    </ng-template>
                    </ngb-tab>
            </ngb-tabset>
        </p-fieldset>
    </div>
    <p-footer>
        <div class="urbanperformance ui-g ui-fluid px-2">
            <p-button label="EXPORT RESULTS" (onClick)="exportUPResults()" [disabled]="okayResults" styleClass="tools-geoportal geoportal-btn geoportal-title-btn" icon="pi pi-file">
            </p-button>
            <p-button label="ADVANCED" class="tools-geoportal geoportal-btn geoportal-title-btn" icon="fas fa-cog" (onClick)="showAdvancedUP();"></p-button>
        </div>
    </p-footer>
</p-dialog>
<!--PrimeNG dialog for the advanced functionalities of UP-->
<p-dialog [focusOnShow]="false" [baseZIndex]="1150" [positionTop]="0" [maximizable]="true" header="Advanced Options" [(visible)]="displayAdvancedUP" [contentStyle]="{'max-height':'90vh'}" [style]="{'width': '75em'}">
    <div class="gp_modal urbanperformance" id="adminUP">
        <ngb-tabset type="pills" justify="justified" #tabsetUP="ngbTabset">
            <!--Section that allows the user to upload assumptions and view assumptions per study area.-->
            <ngb-tab id="assumptionsUP">
                <ng-template ngbTabTitle>
                    Assumptions
                </ng-template>
                <ng-template ngbTabContent>
                    <div class="ui-g ui-fluid">
                        <div class="ui-md-12">
                            <p-fieldset [toggleable]="true" legend="Upload (.CSV)">
                                <div class="ui-g ui-fluid">
                                    <p-dropdown [filter]="true" placeholder="Select a study area" optionLabel="name" [baseZIndex]="2500" appendTo="body" [options]="studyArea" [(ngModel)]="asmptStudyAreaFile" [filter]="true" styleClass="urbanperformance" panelStyleClass="urbanperformance">
                                    </p-dropdown>
                                </div>
                                <div class="ui-g ui-fluid" *ngIf="asmptStudyAreaFile">
                                    <div class="ui-md-12">
                                        <p-fileUpload name="assumptionFile[]" customUpload="true" (uploadHandler)="uploadAssumption($event)" accept=".csv" chooseLabel="SELECT FILE" uploadLabel="UPLOAD" cancelLabel="CANCEL"></p-fileUpload>
                                    </div>
                                </div>
                            </p-fieldset>
                        </div>
                    </div>
                    <div class="ui-g ui-fluid">
                        <div class="ui-md-12">
                            <p-fieldset [toggleable]="true" legend="Registered Assumptions">
                                <div class="ui-g ui-fluid">
                                    <p-dropdown placeholder="Select a scenario" (onHide)="loadAssumptions()" optionLabel="name" [baseZIndex]="2500" appendTo="body" [options]="scenarios" [(ngModel)]="asmptScenarioManage" [filter]="true" styleClass="urbanperformance" panelStyleClass="urbanperformance">
                                    </p-dropdown>
                                </div>
                                <div class="ui-g ui-fluid" *ngIf="asmptScenarioManage">
                                    <p-table #assumptionTable [scrollable]="true" [style]="{width:'68.5em'}" [columns]="colsAssumption" [value]="assumptions" selectionMode="single" [(selection)]="selAssumption" [paginator]="true" [rows]="20" (onRowSelect)="selectAssumption($event)">
                                        <ng-template pTemplate="caption">
                                            <div class="ui-g ui-fluid">
                                                <div class="ui-md-3">
                                                    <button type="button" pButton icon="fa fa-plus" (click)="addAssumption()" label="CREATE"></button>
                                                </div>
                                                <div class="ui-md-offset-2 ui-md-1">
                                                    <i class="fa fa-search" style="padding: 10px; margin-left: 60px;"></i>
                                                </div>
                                                <div class="ui-md-6">
                                                    <input type="text" pInputText size="50" placeholder="Search" (input)="assumptionTable.filterGlobal($event.target.value, 'contains')" style="width:auto">
                                                </div>
                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="colgroup" let-columns>
                                            <colgroup>
                                                <col *ngFor="let col of columns" style="width:250px">
                                            </colgroup>
                                        </ng-template>
                                        <ng-template pTemplate="header" let-columns>
                                            <tr>
                                                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                                    {{col.header}}
                                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                                </th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                                            <tr [pSelectableRow]="rowData">
                                                <td *ngFor="let col of columns">
                                                    {{rowData[col.field]}}
                                                </td>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="summary">
                                            There are {{assumptions?.length}} assumptions
                                        </ng-template>
                                    </p-table>
                                </div>
                            </p-fieldset>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <!--Section that allows the user to view the created Scenarios.-->
            <ngb-tab id="scenariosUP">
                <ng-template ngbTabTitle>
                    Scenarios
                </ng-template>
                <ng-template ngbTabContent>
                    <p-table #scenariosTable [columns]="colsScenario" [value]="scenarios" selectionMode="single" [(selection)]="selScenario" [paginator]="true" [scrollable]="true" [rows]="20" (onRowSelect)="selectScenario($event)">
                        <ng-template pTemplate="caption">
                            <div style="text-align: right">
                                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                <input type="text" pInputText size="50" placeholder="Search" (input)="scenariosTable.filterGlobal($event.target.value, 'contains')" style="width:auto">
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pSelectableRow]="rowData">
                                <td *ngFor="let col of columns">
                                    {{rowData[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            There are {{scenarios?.length}} scenarios
                        </ng-template>
                    </p-table>
                </ng-template>
            </ngb-tab>
            <!--Section that allows an admin to install new calculus modules and view modules, indicators and result labels.-->
            <ngb-tab id="indicatorsUP" *ngIf="isUPTAdmin">
                <ng-template ngbTabTitle>
                    Indicators
                </ng-template>
                <ng-template ngbTabContent>
                    <div class="ui-g ui-fluid">
                        <div class="ui-md-12">
                            <p-fieldset [toggleable]="true" legend="Install Modules">
                                <div class="ui-g ui-fluid">
                                    <div class="ui-md-12">
                                        <p-fileUpload name="moduleFile[]" customUpload="true" (uploadHandler)="installModule($event)" accept=".zip" chooseLabel="SELECT FILE (.ZIP)" uploadLabel="INSTALL" cancelLabel="CANCEL"></p-fileUpload>
                                    </div>
                                </div>
                            </p-fieldset>
                        </div>
                    </div>
                    <div class="ui-g ui-fluid">
                        <div class="ui-md-12">
                            <p-fieldset [toggleable]="true" legend="Manage Modules">
                                <p-table #modulesTable [columns]="colsModules" [value]="modules" selectionMode="single" [(selection)]="selModule" [paginator]="true" [scrollable]="true" [rows]="20" (onRowSelect)="selectModule($event)">
                                    <ng-template pTemplate="caption">
                                        <div style="text-align: right">
                                            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                                            <input type="text" pInputText size="50" placeholder="Search" (input)="modulesTable.filterGlobal($event.target.value, 'contains')" style="width:auto">
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="header" let-columns>
                                        <tr>
                                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                                {{col.header}}
                                                <p-sortIcon [field]="col.field"></p-sortIcon>
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                                        <tr [pSelectableRow]="rowData">
                                            <td *ngFor="let col of columns">
                                                {{rowData[col.field]}}
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="summary">
                                        There are {{modules?.length}} modules
                                    </ng-template>
                                </p-table>
                            </p-fieldset>
                        </div>
                    </div>
                    <div class="ui-g ui-fluid">
                        <div class="ui-md-12">
                            <p-fieldset [toggleable]="true" legend="Manage Indicators">
                                <p-table #indicatorsTable [columns]="colsIndicators" [value]="inds" selectionMode="single" [(selection)]="selIndicator" [paginator]="true" [scrollable]="true" [rows]="20" (onRowSelect)="selectIndicator($event)">
                                    <ng-template pTemplate="caption">
                                        <div class="ui-g ui-fluid">
                                            <div class="ui-md-3">
                                                <button type="button" pButton icon="fa fa-plus" (click)="addIndicator()" label="CREATE"></button>
                                            </div>
                                            <div class="ui-md-offset-2 ui-md-1">
                                                <i class="fa fa-search" style="padding: 10px; margin-left: 60px;"></i>
                                            </div>
                                            <div class="ui-md-6">
                                                <input type="text" pInputText size="50" placeholder="Search" (input)="indicatorsTable.filterGlobal($event.target.value, 'contains')" style="width:auto">
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="header" let-columns>
                                        <tr>
                                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                                {{col.header}}
                                                <p-sortIcon [field]="col.field"></p-sortIcon>
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                                        <tr [pSelectableRow]="rowData">
                                            <td *ngFor="let col of columns">
                                                {{rowData[col.field]}}
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="summary">
                                        There are {{inds?.length}} indicators
                                    </ng-template>
                                </p-table>
                            </p-fieldset>
                        </div>
                    </div>
                    <div class="ui-g ui-fluid">
                        <div class="ui-md-12">
                            <p-fieldset [toggleable]="true" legend="Manage Results Labeling">
                                <p-table #indResultTable [columns]="colsIndResults" [value]="indsResult" selectionMode="single" [(selection)]="selIndResult" [paginator]="true" [scrollable]="true" [rows]="20" (onRowSelect)="selectIndicatorResult($event)">
                                    <ng-template pTemplate="caption">
                                        <div class="ui-g ui-fluid">
                                            <div class="ui-md-3">
                                                <button type="button" pButton icon="fa fa-plus" (click)="addIndicatorResult()" label="CREATE"></button>
                                            </div>
                                            <div class="ui-md-offset-2 ui-md-1">
                                                <i class="fa fa-search" style="padding: 10px; margin-left: 60px;"></i>
                                            </div>
                                            <div class="ui-md-6">
                                                <input type="text" pInputText size="50" placeholder="Search" (input)="indResultTable.filterGlobal($event.target.value, 'contains')" style="width:auto">
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="header" let-columns>
                                        <tr>
                                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                                {{col.header}}
                                                <p-sortIcon [field]="col.field"></p-sortIcon>
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                                        <tr [pSelectableRow]="rowData">
                                            <td *ngFor="let col of columns">
                                                {{rowData[col.field]}}
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="summary">
                                        There are {{indsResult?.length}} result labels
                                    </ng-template>
                                </p-table>
                            </p-fieldset>
                        </div>
                    </div>
                </ng-template>
            </ngb-tab>
            <!--Section that allows the user to view the classifications.-->
            <ngb-tab id="classificationUP">
                <ng-template ngbTabTitle>
                    Classification
                </ng-template>
                <ng-template ngbTabContent>
                    <p-table #classificationTable [columns]="colsClassification" [value]="classifications" selectionMode="single" [(selection)]="selClassification" [paginator]="true" [scrollable]="true" [rows]="20" (onRowSelect)="selectClassification($event)">
                        <ng-template pTemplate="caption">
                            <div class="ui-g ui-fluid">
                                <div class="ui-md-3">
                                    <button type="button" pButton icon="fa fa-plus" (click)="addClassification()" label="CREATE"></button>
                                </div>
                                <div class="ui-md-offset-2 ui-md-1">
                                    <i class="fa fa-search" style="padding: 10px; margin-left: 60px;"></i>
                                </div>
                                <div class="ui-md-6">
                                    <input type="text" pInputText size="50" placeholder="Search" (input)="classificationTable.filterGlobal($event.target.value, 'contains')" style="width:auto">
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                    {{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr [pSelectableRow]="rowData">
                                <td *ngFor="let col of columns">
                                    {{rowData[col.field]}}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="summary">
                            There are {{classifications?.length}} classifications
                        </ng-template>
                    </p-table>
                </ng-template>
            </ngb-tab>
            <!--Section that allows the user to clear data from tables belonging to a scenario.-->
            <ngb-tab>
                <ng-template ngbTabTitle>
                    Clear Tables
                </ng-template>
                <ng-template ngbTabContent>
                    <div class="ui-g ui-fluid px-3 pt-3">
                        <p-dropdown (onHide)="loadTablesUP()" placeholder="Select a scenario" optionLabel="name" [baseZIndex]="2500" appendTo="body" [options]="scenarios" [(ngModel)]="upTablesScenario" [filter]="true" styleClass="urbanperformance" panelStyleClass="urbanperformance">
                        </p-dropdown>
                    </div>
                    <div class="ui-g ui-fluid p-3">
                        <p-tree [filter]="true" (onNodeSelect)="deleteTableUP($event)" selectionMode="single" [(selection)]="selectedTable" [value]="tablesUP" [style]="{'max-height':'200px','overflow':'auto'}">
                            <ng-template let-node pTemplate="directory">
                                <span>{{node.label}}</span>
                            </ng-template>
                            <ng-template let-node pTemplate="layer">
                                <span>{{node.label}}</span>
                            </ng-template>
                        </p-tree>
                    </div>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
    </div>
</p-dialog>
<!--PrimeNG toast which prompts the user to go to the Upload Assumptions module for UrbanPerformance-->
<p-toast [modal]="true" key="loadAssumptions" position="center" [baseZIndex]="5000">
    <ng-template let-o let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton label="YES" class="ui-button-success" (click)="acceptLoadAssumption()"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton label="NO" class="ui-button-secondary" (click)="cancelLoadAssumptions()"></button>
            </div>
        </div>
    </ng-template>
</p-toast>
<!--PrimeNG toast which asks for confirmation to delete the data from the selected UP table.-->
<p-toast [modal]="true" key="confirmDeleteTableUP" position="center" [baseZIndex]="5000">
    <ng-template let-o let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton label="CONFIRM" class="ui-button-success" (click)="confirmDeleteTableUP()"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton label="CANCEL" class="ui-button-secondary" (click)="cancelDeleteTableUP()"></button>
            </div>
        </div>
    </ng-template>
</p-toast>
<!--PrimeNG toast which asks for confirmation to delete a Scenario-->
<p-toast [modal]="true" key="confirmDeleteScenario" position="center" [baseZIndex]="5000">
    <ng-template let-o let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton label="CONFIRM" class="ui-button-success" (click)="confirmDeleteScenario()"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton label="CANCEL" class="ui-button-secondary" (click)="cancelDeleteScenario()"></button>
            </div>
        </div>
    </ng-template>
</p-toast>
<!--PrimeNG toast which asks for confirmation to delete an Indicator Label-->
<p-toast [modal]="true" key="confirmDeleteIndicatorResult" position="center" [baseZIndex]="5000">
    <ng-template let-o let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton label="CONFIRM" class="ui-button-success" (click)="confirmDeleteIndicatorResult()"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton label="CANCEL" class="ui-button-secondary" (click)="cancelDeleteIndicatorResult()"></button>
            </div>
        </div>
    </ng-template>
</p-toast>
<!--PrimeNG toast which asks for confirmation to delete an indicator.-->
<p-toast [modal]="true" key="confirmDeleteIndicator" position="center" [baseZIndex]="5000">
    <ng-template let-o let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton label="CONFIRM" class="ui-button-success" (click)="confirmDeleteIndicator()"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton label="CANCEL" class="ui-button-secondary" (click)="cancelDeleteIndicator()"></button>
            </div>
        </div>
    </ng-template>
</p-toast>
<!--PrimeNG toast which asks for confirmation to delete a classification.-->
<p-toast [modal]="true" key="confirmDeleteClassification" position="center" [baseZIndex]="5000">
    <ng-template let-o let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton label="CONFIRM" class="ui-button-success" (click)="confirmDeleteClassification()"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton label="CANCEL" class="ui-button-secondary" (click)="cancelDeleteClassification()"></button>
            </div>
        </div>
    </ng-template>
</p-toast>
<!--PrimeNG toast which asks for confirmation to delete a calculus module.-->
<p-toast [modal]="true" key="confirmDeleteModule" position="center" [baseZIndex]="5000">
    <ng-template let-o let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton label="CONFIRM" class="ui-button-success" (click)="confirmDeleteModule()"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton label="CANCEL" class="ui-button-secondary" (click)="cancelDeleteModule()"></button>
            </div>
        </div>
    </ng-template>
</p-toast>
<!--PrimeNG toast which asks for confirmation to delete an assumption.-->
<p-toast [modal]="true" key="confirmDeleteAssumption" position="center" [baseZIndex]="5000">
    <ng-template let-o let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton label="CONFIRM" class="ui-button-success" (click)="confirmDeleteAssumption()"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton label="CANCEL" class="ui-button-secondary" (click)="cancelDeleteAssumption()"></button>
            </div>
        </div>
    </ng-template>
</p-toast>
<!--PrimeNG dialog that allows the user to create/edit a result label for UP.-->
<p-dialog header="Result Labeling Details" [(visible)]="editIndResult" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '300px'}" [maximizable]="false" [baseZIndex]="1150">
    <div class="urbanperformance">
        <div class="ui-g ui-fluid" *ngIf="manageIndResults">
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="indResultLabel">Label:</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="indResultLabel" maxlength="60" [(ngModel)]="manageIndResults.label" autofocus />
                </div>
            </div>

            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="indResultInd">Indicator:</label>
                </div>
                <div class="ui-g-8">
                    <p-dropdown placeholder="Select an indicator" [baseZIndex]="2500" appendTo="body" [options]="indsEditResult" [(ngModel)]="manageIndResults.up_indicators_id" [filter]="true" styleClass="urbanperformance" panelStyleClass="urbanperformance"></p-dropdown>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="indResultLanguage">Language:</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="indResultLanguage" [(ngModel)]="manageIndResults.language" autofocus />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="indResultUnits">Units:</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="indResultUnits" [(ngModel)]="manageIndResults.units" autofocus />
                </div>
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix urbanperformance">
            <button type="button" pButton icon="pi pi-check" (click)="saveIndicatorResult()" label="SAVE"></button>
            <button *ngIf="!isNewIndResult" type="button" pButton icon="pi pi-trash" (click)="deleteIndicatorResult()" label="DELETE"></button>
        </div>
    </p-footer>
</p-dialog>
<!--PrimeNG dialog that allows the user to create/edit an indicator.-->
<p-dialog header="Indicator Details" [(visible)]="editIndicator" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '300px'}" [maximizable]="false" [baseZIndex]="1150">
    <div class="urbanperformance">
        <div class="ui-g ui-fluid" *ngIf="manageIndicators">
            <div *ngIf="!isNewIndicator" class="ui-g-12">
                <div class="ui-g-4">
                    <label for="indicatorId">ID:</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText disabled id="indicatorId" [(ngModel)]="manageIndicators.id" />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="indicator">Indicator:</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="indicator" maxlength="60" [(ngModel)]="manageIndicators.indicator" autofocus />
                </div>
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix urbanperformance">
            <button type="button" pButton icon="pi pi-check" (click)="saveIndicator()" label="SAVE"></button>
            <button *ngIf="!isNewIndicator" type="button" pButton icon="pi pi-trash" (click)="deleteIndicator()" label="DELETE"></button>
        </div>
    </p-footer>
</p-dialog>
<!--PrimeNG dialog that allows the user to create/edit a calculus module.-->
<p-dialog header="Module Details" [(visible)]="editModule" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '400px'}" [maximizable]="false" [baseZIndex]="1150">
    <div class="urbanperformance">
        <div class="ui-g ui-fluid" *ngIf="manageModules">
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="moduleName">Name:</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText disabled id="moduleName" [(ngModel)]="manageModules.name" />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="moduleLabel">Label:</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="moduleLabel" maxlength="60" [(ngModel)]="manageModules.label" />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="moduleDescription">Description:</label>
                </div>
                <div class="ui-g-8">
                    <textarea pInputTextarea id="moduleDescription" [(ngModel)]="manageModules.description"></textarea>
                </div>
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix urbanperformance">
            <button type="button" pButton icon="pi pi-check" (click)="saveModule()" label="SAVE"></button>
            <button *ngIf="!isNewTransit" type="button" pButton icon="pi pi-trash" (click)="deleteModule()" label="DELETE"></button>
        </div>
    </p-footer>
</p-dialog>
<!--PrimeNG dialog that allows the user to create/edit a classification.-->
<p-dialog header="Classification Details" [(visible)]="editClassification" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '300px'}" [maximizable]="false" [baseZIndex]="1150">
    <div class="urbanperformance">
        <div class="ui-g ui-fluid" *ngIf="manageClassification">
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="classificationName">Name:</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="classificationName" maxlength="60" [(ngModel)]="manageClassification.name" autofocus />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="classificationCat">Category:</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="classificationCat" maxlength="60" [(ngModel)]="manageClassification.category" />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="classificationFclass">F-class:</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="classificationFclass" maxlength="60" [(ngModel)]="manageClassification.fclass" />
                </div>
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix urbanperformance">
            <button type="button" pButton icon="pi pi-check" (click)="saveClassification()" label="SAVE"></button>
            <button *ngIf="!isNewClassification" type="button" pButton icon="pi pi-trash" (click)="deleteClassification()" label="DELETE"></button>
        </div>
    </p-footer>
</p-dialog>
<!--PrimeNG dialog that allows the user to create/edit an assumption.-->
<p-dialog header="Assumption Details" [(visible)]="editAssumptions" [focusOnShow]="false" [responsive]="true" showEffect="fade" [modal]="true" [style]="{width: '300px'}" [maximizable]="false" [baseZIndex]="1150">
    <div class="urbanperformance">
        <div class="ui-g ui-fluid" *ngIf="assumptionManage">
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="asmptName">Name:</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="asmptName" maxlength="60" [(ngModel)]="assumptionManage.name" />
                </div>
            </div>
            <div class="ui-g-12" *ngIf="isNewAssumption">
                <div class="ui-g-4">
                    <label for="asmptStdArea">Study Area:</label>
                </div>
                <div class="ui-g-8">
                    <p-dropdown placeholder="Select a study area" optionLabel="name" [baseZIndex]="2500" appendTo="body" [options]="studyArea" [(ngModel)]="assumptionManage.study_area" [filter]="true" styleClass="urbanperformance" panelStyleClass="urbanperformance"></p-dropdown>
                </div>
            </div>
            <div class="ui-g-12" *ngIf="isNewAssumption">
                <div class="ui-g-4">
                    <label for="asmptScen">Scenario:</label>
                </div>
                <div class="ui-g-8">
                    <p-dropdown placeholder="Select a scenario" optionLabel="name" [baseZIndex]="2500" appendTo="body" [options]="scenarios" [(ngModel)]="assumptionManage.scenario" [filter]="true" styleClass="urbanperformance" panelStyleClass="urbanperformance"></p-dropdown>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="asmptCat">Category:</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="asmptCat" maxlength="60" [(ngModel)]="assumptionManage.category" autofocus />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="asmptValue">Value:</label>
                </div>
                <div class="ui-g-8">
                    <input type="number" pInputText [(ngModel)]="assumptionManage.value" />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="asmptUnits">Units:</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="asmptUnits" maxlength="60" [(ngModel)]="assumptionManage.units" autofocus />
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="asmptDesc">Description:</label>
                </div>
                <div class="ui-g-8">
                    <textarea id="asmptDesc" pInputTextarea [(ngModel)]="assumptionManage.description"></textarea>
                </div>
            </div>
            <div class="ui-g-12">
                <div class="ui-g-4">
                    <label for="asmptSource">Source:</label>
                </div>
                <div class="ui-g-8">
                    <textarea id="asmptSource" pInputTextarea [(ngModel)]="assumptionManage.source"></textarea>
                </div>
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix urbanperformance">
            <button type="button" pButton icon="pi pi-check" (click)="saveAssumption()" label="SAVE"></button>
            <button *ngIf="!isNewAssumption" type="button" pButton icon="pi pi-trash" (click)="deleteAssumption()" label="DELETE"></button>
        </div>
    </p-footer>
</p-dialog>
<!--PrimeNG dialog that allows the user to create/edit a scenario.-->
<p-dialog [focusOnShow]="false" header="Scenario Details" [(visible)]="editScenario" [modal]="true" [responsive]="true" [style]="{width: '300px'}" [maximizable]="false" [baseZIndex]="1150">
    <div class="ui-g ui-fluid" *ngIf="scenarioManage">
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="nameScenario">Name:</label>
            </div>
            <div class="ui-g-8">
                <input id="nameScenario" maxlength="60" pInputText [(ngModel)]="scenarioManage.name" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4">
                <label for="descriptionScenario">Description:</label>
            </div>
            <div class="ui-g-8">
                <textarea id="descriptionScenario" pInputTextarea [(ngModel)]="scenarioManage.description"></textarea>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-12">
                <p-checkbox styleClass="urbanperformance" binary="true" label="Is baseline?" [(ngModel)]="scenarioManage.isBase"></p-checkbox>
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix gp_modal urbanperformance">
            <button type="button" pButton icon="pi pi-check" label="SAVE" (click)="updateScenario()"></button>
            <button type="button" pButton icon="pi pi-trash" label="DELETE" (click)="deleteScenario()"></button>
        </div>
    </p-footer>
</p-dialog>
<p-dialog [focusOnShow]="false" classStyle="managaDataModule" header="Manage Data" [(visible)]="displayManageDataUP" [maximizable]="true" [style]="{'width':'45em'}" [contentStyle]="{'max-height':'40em'}" [baseZIndex]="1150">
    <div class="gp_modal urbanperformance">
        <div class="ui-g ui-fluid p-3">
            <p-tree [filter]="true" (onNodeSelect)="loadDataColumnsUP($event)" selectionMode="single" [(selection)]="selectedLayer" [value]="layers" [style]="{'max-height':'200px','overflow':'auto'}">
                <ng-template let-node pTemplate="directory">
                    <span>{{node.label}}</span>
                </ng-template>
                <ng-template let-node pTemplate="layer">
                    <span>{{node.label}}</span>
                </ng-template>
            </p-tree>
        </div>
        <div class="ui-g ui-fluid p-3">
            <p-table [value]="listDataUP">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width:2.5em"></th>
                        <th>Required Fields</th>
                        <th>{{columnsHeaderUP + ' Fields'}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-column let-index="rowIndex">
                    <tr [pReorderableRow]="index">
                        <td>
                        </td>
                        <td>{{column.label}}</td>
                        <td>
                            <p-dropdown [filter]="true" panelStyleClass="urbanperformance" styleClass="urbanperformance" optionLabel="name" [baseZIndex]="2500" appendTo="body" [options]="listManageDataUP" [(ngModel)]="columnFieldsArrayUP[index]" placeholder="Select a field"></p-dropdown>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="container-fluid p-3">
            <div class="justify-content-center">
                <p-button label="IMPORT" (onClick)="importDataUP()" styleClass="ui-button-raised geoportal-btn urbanperformance">
                </p-button>
            </div>
        </div>
    </div>
</p-dialog>